@layer {

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    
    padding: 0.6em 1em;
    
    background-color: var(--btn-bg-primary);
    color: var(--btn-color-primary);
  
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
  
    box-sizing: border-box;
    transition: background-color 300ms ease-in-out;
  }
  .button:hover {
    background-color: var(--btn-bg-primary-hover);
  }
  
  .button-color-1 {
    background-color: var(--btn-bg-secondary);
  }
  .button-color-1:hover {
    background-color: var(--btn-bg-secondary-hover);
  }
  
  .button-kind-text {
    padding: 0;
  
    background-color: transparent;
  }
  .button-kind-text:hover {
    background-color: transparent;
  }
  
}