.text {
  display: block;
  margin: 0;

  font-size: var(--size-normal);
  color: var(--color-1);
  font-family: Roboto, sans-serif;
  line-height: 1;
}

.h {
  /* change to just roboto by default*/
  line-height: 1.4;
  font-weight: 700;
}

.p {
  font-size: clamp(14px, 1.5vw, 20px);
  line-height: 1.5;
}