.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  padding: 24px;
  background-color: var(--bg-3);
}

.image {
  margin: 0 auto;
}

@media(min-width: 500px) {
  .container {
    flex-direction: row;
  }
  
  .image {
    margin: 0;
  }
}